:root
{
    --primary-font:Michroma;
    --secondary-font:Inder;

    --primary-color:#7EAB89;
}
.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .inder-regular {
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
    


.button1{
    width: 200px;
    height: 45px;
    justify-content: center;
    align-items: center;
}
.maindiv{
    padding-left: 100px;
    padding-right: 100px;
}
.herotext{
    font-family: var(--primary-font);
    font-size: 48px;
    line-height: 70px;
}
#colortexthero{
    color: var(--primary-color);

}
.overlap-images {
    padding: 4px;
    display: flex;
    
    align-items: center;
    border-color: rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    filter:opacity(20)
    
    
  }
  .overlap-images img {
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: -10px; /* Adjust this value as needed */
   
  }
  #herotext2{
    font-size: 42px;
    font-weight: 500;
    font-family: var(--secondary-font);
    color: var(--primary-color);
  }
  .herocon{
    justify-content: center;
    background-color: #C7DBCC;
    border-radius: 14px ;
  }
 #herotext5{
    font-family: var(--secondary-font);
    font-size: medium;
    opacity: 50%;
 }
 .slideimg{
  border-radius: 14px;
  
 }
 .slidedown{
  border-radius: 14px;
  
 }